<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.root.components.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>Black_Spot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.root.components.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PoliceAdd</display-name>
    <servlet-name>PoliceAdd</servlet-name>
    <servlet-class>com.root.components.PoliceAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoliceAdd</servlet-name>
    <url-pattern>/PoliceAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.root.components.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpotBlack</display-name>
    <servlet-name>SpotBlack</servlet-name>
    <servlet-class>com.root.components.SpotBlack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotBlack</servlet-name>
    <url-pattern>/SpotBlack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpotLogin</display-name>
    <servlet-name>SpotLogin</servlet-name>
    <servlet-class>com.root.components.SpotLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotLogin</servlet-name>
    <url-pattern>/SpotLogin</url-pattern>
  </servlet-mapping>
</web-app>